<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <queries>
        <package android:name="com.eurobuddha.minimacore" />
    </queries>
    <application>
        <activity android:name="com.eurobuddha.casino.MainActivity" android:exported="false" android:theme="@style/pm_casino_Theme.Casino">
            </activity>
        <service android:name="com.eurobuddha.casino.CasinoService" android:exported="false" android:foregroundServiceType="specialUse|dataSync">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Watches the embedded chain to reveal and resolve the user’s outstanding casino bets before their deadlines" />
        </service>
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
</manifest>